$icon-font-path: '../fonts/';
$color-violet-dark: #8C288C;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

h1{
  color: $color-violet-dark !important;
}
a{
  color: $color-violet-dark;
}
form#create-event .form-group#address{
  label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
  }
}

form#create-event fieldset{
  margin-bottom: 2rem;
}
