@import "customVariables";
$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.container{
  width:95%;
}



h1{
  color: $brand-primary !important;
}

header{
  display: flex;
  flex-direction: column;

  >a, >a:hover{
    text-decoration: none;
  }
  ul.nav-pills{
    margin: 1rem 0 1rem 0;
    .text-muted{
      color: $brand-primary;
      font-weight: 700;
    }
  }
}

form#create-event .form-group#address{
  label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
  }
}

form#create-event fieldset{
  margin-bottom: 2rem;
  width: 100%;

  .slimField, .wideFIeld{
    margin-bottom: 15px;
  }
}

.list-group.events{


  //.remove{
  //  position: absolute;
  //  right: 5rem;
  //}
  .actions{
    display: flex;
    flex-direction: row;
    margin-left: auto !important;
    a{
      margin: 0 $event-margin-small 0 $event-margin-small;
      cursor: pointer;
    }
    span{
      cursor: pointer;
    }
  }
  .header{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    > * {
      margin: $event-margin-small;
    }

    h4{
      color:$brand-primary;
    }
    span{
      margin-right: 1rem;
    }
    i{
      margin-right: 0px;
      margin-left: auto;
      font-size: 1.2em;
      &.open{
        transform: rotate(180deg);
      }
    }
  }
  .event-details{
    margin: $event-margin-small;
  }
}

.form-group .help-block{
  display: none;
}

.form-group.has-error .help-block{
  display: inherit;
}



/*START adjastments according to screen sizes*/
/* Small devices (phines landscape and tablets) */
@media (min-width: 768px) {
  header{
    flex-direction: row;
    ul{
      margin-left: auto !important;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container{
    width: 80%;
  }
  .list-group-item{
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container{
    width: 80%;
  }
}
