<form class="" id="create-event" >
  <fieldset id="event-basic-info">
    <div class="form-group">
      <label for="event_name">*Name of event</label>
      <input autofocus input-focus id="event_name" aria-label="required input Name of event" ng-model="eventData.name" class="custom-validation v-name form-control" type="text" name="event_name" placeholder="Friday`s Dinner" required>
    </div>
    <div class="form-group">
      <label for="event_type">*Event type</label>
      <input aria-label="required input Event type"  id="event_type" class="form-control" ng-model="eventData.type" list="event-types" name="event_type" placeholder="Dinner out">
      <datalist id="event-types">
        <option value="Birthday party">
        <option value="Masquerade ball">
        <option value="Conference">
        <option value="Dinner out">
        <option value="Going out to the movies">
      </datalist>
    </div>
    <div class="form-group">
      <label for="event_host">*Event Host</label>
      <input  aria-label="required input Event Host" id="event_host" ng-model="eventData.host" class="custom-validation v-name form-control" type="text" name="name" placeholder="Lula Leus" autocomplete="name" required>
    </div>
  </fieldset>

  <fieldset id="event-time-and-date">
    <div class="form-group date-time">
      <label for="event_start_date_time">*Event starts</label>
      <div>
        <input type="text"
               id="event_start_date_time"
               aria-label="required input Event start date and time"
               class="date-picker custom-validation v-date-start form-control"
               name="event_start_date_time"
               required
               datetime-picker="dd MMM yyyy HH:mm"
               ng-model="eventData.start_date_time"
               is-open="isCalendarOpen.start"  />
        <button aria-label="calendar" type="button" class="btn btn-default" ng-mousedown="openCalendar($event, prop, 'start')">
          <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="date-time form-group">
      <label for="event_end_date_time">*Event ends</label>
        <div>
          <input type="text"
                 datetime-picker="dd MMM yyyy HH:mm"
                 is-open="isCalendarOpen.end"
                 id="event_end_date_time"
                 aria-label="required input Event end date and time"
                 ng-model="eventData.end_date_time"
                 class="date-picker custom-validation v-date-end form-control"
                 name="event_end_date_time"
                 required />
            <button aria-label="calendar" type="button" class="btn btn-default" ng-mousedown="openCalendar($event, prop, 'end')">
              <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
            </button>
      </div>
    </div>
  </fieldset>


  <fieldset id="event-location">
    <div class="form-group" id="location-auto-complete">
      <label for="autocomplete">Address search</label>
      <input id="autocomplete" aria-label="required input, start type your address"  class="custom-validation  form-control" placeholder="Enter your address" onFocus="geolocate()" type="text">
    </div>
    <div id="address">
        <div class="form-group">
          <label for="street_number">*Street address: line 1</label>
          <input aria-label="required input address street line one" class="custom-validation form-control field" id="street_number" ng-model="eventData.address.street_number" disabled="true" required>
          <!--<input aria-label="required input address street line two"  class="form-control field" id="route" disabled="true" required>-->
        </div>
      <div class="form-group">
        <label for="street_number">*Street address: line 2</label>
        <input aria-label="optional input address street line two"  class="custom-validation form-control field" id="route" ng-model="eventData.address.route" disabled="true">
      </div>
        <div class="form-group">
          <label for="locality">*City</label>
          <input ng-model="eventData.address.locality" class="custom-validation form-control field" aria-label="required input address city" id="locality" disabled="true" required>
        </div>

        <div class="form-group">
          <label for="administrative_area_level_1">State</label>
          <input class="form-control field" aria-label="optional input address state"  ng-model="eventData.address.administrative_area_level_1" id="administrative_area_level_1" disabled="true">
        </div>

        <div class="form-group">
          <label for="postal_code">Zip code</label>
          <input class="form-control field" aria-label="optional input address zip code" ng-model="eventData.address.postal_code" id="postal_code" disabled="true">
        </div>

        <div class="form-group">
          <label for="country">*Country</label>
          <input class="custom-validation form-control field" id="country" aria-label="required input address country"   ng-model="eventData.address.country"  disabled="true" required>
        </div>
    </div>
  </fieldset>

  <fieldset id="event-additional-info">
  <div class="form-group">
    <label>Guest list</label>
    <textarea id="event-emails=list" aria-label="optional input guests list"  pattern=".+\@.+\..+" ng-model="eventData.guests" class="custom-validation v-guests-list form-control" rows="2" placeholder="example@example.com example2@example.com example3@example.com" required></textarea>
  </div>
  <div class="form-group">
    <label for="event_message">Additional information</label>
    <textarea id="event_message" aria-label="optional input event message"  ng-model="eventData.message" class="form-control" rows="3" placeholder="Dress code is casual. Please bring with you a positive vibe and smiles :)"></textarea>
  </div>
  </fieldset>

  <fieldset id="submit">
    <div class="form-group" ng-class="formValitidyStatus?'allright':'has-error'">
      <button type="button" id="btn_submit_event" class="btn btn-default" ng-click="submitMeetUpEventForm(eventData)">Submit</button>
      <span class="help-block">Please fill all required fields, before submit</span>

    </div>
  </fieldset>

</form>

<!--START location auto-complete code-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaXq-ThjcJ5sn0iIE2CQ2tT1McXEY6kLU&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
<script>
  // This example displays an address form, using the autocomplete feature
  // of the Google Places API to help users fill in the information.

  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }
  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
