<form class="" id="create-event" >
  <fieldset id="event-basic-info">
    <div class="form-group">
      <label for="event_name">*Name of event</label>
      <input id="event_name" ng-model="eventData.name" class="custom-validation v-name validation-text form-control" type="text" name="event_name" placeholder="Friday`s Dinner" required>
    </div>
    <div class="form-group">
      <label for="event_type">*Event type</label>
      <input id="event_type" class="form-control validation-text" ng-model="eventData.type" list="event-types" name="event_type" placeholder="Dinner out">
      <datalist id="event-types">
        <option value="Birthday party">
        <option value="Masquerade ball">
        <option value="Conference">
        <option value="Dinner out">
        <option value="Going out to the movies">
      </datalist>
    </div>
    <div class="form-group">
      <label for="event_host">*Event Host</label>
      <input  id="event_host" ng-model="eventData.host" class="custom-validation v-name validation-text form-control" type="text" name="name" placeholder="Lula Leus" autocomplete="name" required>
    </div>
  </fieldset>

  <fieldset id="event-time-and-date">
    <div class="form-group">
      <label for="event_start_date">*Event start date</label>
      <input  id="event_start_date" ng-model="eventData.dateStart" class="validation-date form-control" type="date" name="event_start_date" placeholder="" required>
    </div>
    <div class="form-group">
      <label for="event_start_time">*Event start time</label>
      <input  id="event_start_time" ng-model="eventData.timeStart" class="validation-time form-control" type="time" name="event_start_time" placeholder="" required>
    </div>
    <div class="form-group">
      <label for="event_end_date">Event end date</label>
      <input  id="event_end_date" ng-model="eventData.dateEnd" class="validation-date form-control" type="date" name="event_end_date" placeholder="" required>
    </div>
    <div class="form-group">
      <label for="event_end_time">Event end time</label>
      <input  id="event_end_time" time-format ng-model="eventData.timeEnd" class="validation-time form-control" type="time" name="event_end_time" placeholder="" required>
    </div>
  </fieldset>


  <fieldset id="event-location">
    <div class="form-group" id="location-auto-complete">
      <div id="locationField">
        <input id="autocomplete" class="form-control" placeholder="Enter your address" onFocus="geolocate()" type="text">
      </div>
    </div>
    <div class="form-group" id="address">
        <label class="label">Street address</label>
        <div class="slimField">
          <input class="form-control field" id="street_number" ng-model="eventData.address.streetPartOne" disabled="true">
        </div>
        <div class="wideField" colspan="2">
          <input class="form-control field" ng-model="eventData.address.streetPartTwo" id="route" disabled="true">
        </div>

        <label class="label">City</label>
        <div class="wideField" colspan="3">
          <input class="form-control field" id="locality" ng-model="eventData.address.city"  disabled="true">
        </div>

        <label class="label">State</label>
        <div class="slimField">
          <input class="form-control field" ng-model="eventData.address.administrativeArea" id="administrative_area_level_1" disabled="true">
        </div>

        <label class="label">Zip code</label>
        <div class="wideField">
          <input class="form-control field" id="postal_code" ng-model="eventData.address.postalCode" disabled="true">
        </div>

        <label class="label">Country</label>
        <div class="wideField" colspan="3">
          <input class="form-control field" id="country" ng-model="eventData.address.country" disabled="true">
        </div>
    </div>
  </fieldset>

  <fieldset id="event-additional-info">
  <div class="form-group">
    <label>Guest list</label>
    <textarea id="event-emails=list"  ng-model="eventData.guests" class="form-control" rows="2" placeholder="example@example.com, example2@example.com, example3@example.com"></textarea>
  </div>
  <div class="form-group">
    <label for="event_message">Additional information</label>
    <textarea id="event_message"  ng-model="eventData.message" class="form-control" rows="3" placeholder="Dress code is casual. Please bring with you a positive vibe and smiles :)"></textarea>
  </div>
  </fieldset>

  <fieldset id="submit">
    <div class="form-group" ng-class="formValitidyStatus?'allright':'has-error'">
      <button type="button" id="btn_submit_event" class="btn btn-default" ng-click="createMeetUpEvent(eventData)">Submit</button>
      <span class="help-block">Please fill all required fields, before submit</span>

    </div>
  </fieldset>
</form>

<!--START location auto-complete code-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaXq-ThjcJ5sn0iIE2CQ2tT1McXEY6kLU&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
<script>
  // This example displays an address form, using the autocomplete feature
  // of the Google Places API to help users fill in the information.

  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }
  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
