<div class="row">
  <div ng-show="error" class="alert alert-danger" >
    <span class="sr-only">Error:</span>
    <span>{{error.message}}</span>
  </div>
  <form class="signup-form" id="user_new"  >
    <div class="form-group">
      <label for="user_email">*Email </label>
      <input aria-label="required input email" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" id="user_email" ng-model="user.email" class="custom-validation v-email form-control" type="email" name="email" placeholder="example@example.com" autocomplete="email">
    </div>
    <div class="form-group">
      <label for="{{user.passwordId}}">*Password (min. 8 characters)</label>
      <input  aria-label="required input password"  required id="{{user.passwordId}}" ng-model="user.password" class="custom-validation form-control" type="password" name="password" autocomplete="off">
    </div>
    <div class="form-group" ng-class="$scope.formValitidyStatus?'allright':'has-error'">
    <button type="submit" class="btn btn-default" ng-click="login(user)">Submit</button>
    </div>
  </form>
</div>
