<div ng-show="authCtrl.error">
  <span>{{authCtrl.error.message}}</span>
</div>

<form class="signup-form" id="user_new"  >
  <div class="form-group">
    <label class="control-label" for="user_name">*Full Name
    </label>
    <input input-focus autofocus aria-label="required input full name" required ng-model="user.name" id="user_name" class="custom-validation v-name form-control" type="text" name="name" placeholder="Tony Smith" autocomplete="name">
    <span class='help-block'></span>
  </div>
  <div class="form-group">
    <label for="user_email">*Email </label>
    <input aria-label="required input email" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" id="user_email" ng-model="user.email" class="custom-validation v-email form-control" type="email" name="email" placeholder="example@example.com" autocomplete="email">
    <span class='help-block'></span>
  </div>
  <div class="form-group">
    <label for="user_password">*Password (min. 8 characters)</label>
    <input required id="user_password" aria-label="required input password" ng-model="user.password" class="v-password custom-validation form-control" type="password" name="password" autocomplete="off">
    <span class='help-block'></span>
  </div>
  <div class="form-group">
    <label for="repeat_password">*Please repeat your password</label>
    <input required aria-label="required input repeat password" id="repeat_password" ng-model="user.repeatPassword" class="v-repeat-password custom-validation form-control " type="password" name="password" autocomplete="off">
    <span class='help-block'></span>
  </div>
  <div class="form-group">
    <label for="user_bday">Birthday</label>
    <input aria-label="optional input birthday" id="user_bday" class="form-control" ng-model="user.bday" type="date" name="bday" autocomplete="bday">
  </div>
  <div class="form-group">
    <label for="user_favourite_event">You favorite type of event:</label>
    <input aria-label="optional input  favorite type of event" id="user_favourite_event" class="form-control" ng-model="user.favorite" list="event-types" name="favorite_event">
    <datalist id="event-types">
      <option value="Birthday party">
      <option value="Masquerade ball">
      <option value="Conference">
      <option value="Dinner out">
      <option value="Going out to the movies">
    </datalist>
  </div>
  <div class="form-group" ng-class="formValitidyStatus?'allright':'has-error'">
      <button type="button" id="btn_submit_event" class="btn btn-default" ng-click="submitSignUp(user)">Submit</button>
      <span class="help-block">Please fill all required fields, before submit</span>
  </div>

</form>
