<form class="signup-form form-horizontal" id="user_new"  >
  <form-group>
    <label class="control-label" for="user_first_name">*First Name
    </label>
    <input  required ng-model="newUser.firstName" id="user_first_name" class="custom-validation form-control" type="text" name="first_name" placeholder="John" autocomplete="given-name">
  </form-group>
  <form-group>
    <label class="control-label" for="user_last_name">*Last Name
    </label>
    <input required id="user_last_name" ng-model="newUser.lastName" class="custom-validation form-control" type="text" name="last_name" placeholder="Doe" autocomplete="family-name">
  </form-group>
  <form-group>
    <label for="user_email">*Email </label>
      <input required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" id="user_email" ng-model="newUser.email" class="form-control" type="email" name="email" placeholder="example@example.com" autocomplete="email">
  </form-group>
  <form-group>
    <label for="user_password">*Password (min. 8 characters)</label>
    <input required id="user_password" ng-model="newUser.password" class="custom-validation form-control" type="password" name="password" autocomplete="off">
  </form-group>
  <form-group>
    <label for="user_password_repeat">*Please repeat your password</label>
    <input required id="user_password_repeat" ng-model="newUser.repeatPassword" class="custom-validation form-control" type="password" name="password" autocomplete="off">
  </form-group>
  <form-group>
    <label for="user_bday">Birthday</label>
    <input id="user_bday" class="form-control" ng-model="newUser.bday" type="date" name="bday" autocomplete="bday">
  </form-group>
  <form-group>
    <label for="user_favourite_event">You favorite type of event:</label>
    <input id="user_favourite_event" class="form-control" ng-model="newUser.favorite" list="event-types" name="favorite_event">
    <datalist id="event-types">
      <option value="Birthday party">
      <option value="Masquerade ball">
      <option value="Conference">
      <option value="Dining out">
      <option value="Going out to the movies">
    </datalist>
  </form-group>
  <button type="submit" class="btn btn-default" ng-click="submitSignUp(newUser)">Submit</button>
</form>
