<div class="jumbotron">
  <h1>Welcome!</h1>
  <h2 class="lead">Browse events created by other users or create your own.</h2>
</div>

<div class="row events-list">
  <div class="col-xs-12">
    <h4>Current events</h4>
    <ul class="events list-group">
      <li class="list-group-item" ng-repeat="meetUpEvent in meetUpEvents | orderBy:orderBy">
        <div ng-click="collapsed=!collapsed" class="header">
            <span><strong>{{ meetUpEvent.name }}</strong></span><span> host: {{ meetUpEvent.host}}</span>
          <!-- delete a message using $remove -->
          <span class="small" ng-if="checkUid(meetUpEvent.uidOfuser)">(your event)</span>
          <a href="" ng-click="meetUpEvents.$remove(meetUpEvent)"  ng-if="checkUid(meetUpEvent.uidOfuser)" class="remove">X</a>
          <i ng-class="collapsed?'open':'closed';" class="glyphicon glyphicon-menu-down"></i>
        </div>
          <div  ng-show="collapsed" class="event-details">
            <p>Start: {{meetUpEvent.timeStartString}},  {{meetUpEvent.dateStartString}}</p>
            <p>End: {{meetUpEvent.timeEndString}},  {{meetUpEvent.dateEndString}}</p>
            <p>Event notes: {{meetUpEvent.message}}</p>
            <h5>Address:</h5>
            <p ng-repeat="text in meetUpEvent.address">{{text}}</p>
            <!--<p>{{meetUpEvent.message.address.streetPartTwo}}</p>-->
            <!--<p>{{meetUpEvent.message.address.city}}</p>-->
            <!--<p>{{meetUpEvent.message.address.administrativeArea}}</p>-->
            <!--<p>{{meetUpEvent.message.address.country}}</p>-->
        </div>
      </li>
    </ul>
  </div>
</div>
