<div class="jumbotron">
  <h1>Welcome to <strong>Join Me</strong>!</h1>
  <p class="lead">Browse events created by other users or create your own</p>
</div>

<div class="row events-list">
  <div class="col-lg-6">
    <ul class="events">
      <li class="event">Events will be showed there</li>
      <li ng-repeat="meetUpEvent in meetUpEvents | orderBy:orderBy">
        {{ meetUpEvent.name }}: {{ meetUpEvent.type}}

        <!-- delete a message using $remove -->
        <a href="" ng-click="meetUpEvents.$remove(meetUpEvent)"  ng-if="checkUid(meetUpEvent.uidOfuser)">X</a>
      </li>
    </ul>
  </div>
</div>
